* {
    box-sizing: border-box
}

form {
    background-image: url(istockphoto-1461816749-612x612.jpg);
    background-repeat: round;
}

h1 {
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

b {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 14px;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #e1cccc;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for all buttons */

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px;
    margin: 8px 0 9px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 13px;
}

button:hover {
    opacity: 1;
}


/* Extra styles for the cancel button */

.cancelbtn {
    padding: 14px;
    background-color: #f44336;
}

#remember {
    color: white;
}


/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
    padding: 12px 9px;
}


/* Add padding to container elements */

.container {
    padding: 16px;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}